.Header {
  width: 100%;
  float: left;
  background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
  box-shadow: 0 10px 20px 0
  rgba(0,0,0,.1), 0 6px 6px 0 rgba(0,0,0,.2);

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}

.Header a {text-decoration: none}

.Header ul {
  margin: 0px;
  padding: 0px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.Header ul li {
  padding: 10px;
}
.Header ul img{
  padding-top: 7px;
}
.Header ul h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.Header h2 { color: #fff; font-weight: 400; font-size: 22px}
